<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" type="image/png" href="../static/icons/heart.png"/>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <title>EHealth Assessment</title>
</head>
<body ng-app="mainApp">
    <div class="col-lg-12">
        <div id="header-wrapper">
            <center>
                <img src="../static/icons/heart.png" alt="">
            <h5>HEALTH ASSESSMENT</h5>
            </center>
        </div>
        <div id="nav-top">  
            <a href="#!/home">Home</a>
            <a href="#!/dashboard">Dashboard</a>
            <a href="#!/instructions">Instructions</a>
            <a href="#!/test">Test</a>
            <a href="#!/dietplans">Diet Plan</a>
            <a href="#!/login">Login</a>
        </div>
    </div>

    

    <div class="row">
        <div class="col-lg-12" id="main-col">
            <div id="main-view-wrapper">
                <ng-view></ng-view>
            </div>
        </div>
    </div>
  

    <!-- Static Library -->
    <script src="../static/js/lib/angular.min.js"></script>
    <script src="../static/js/lib/angular-route.min.js"></script>
    <script src="../static/js/lib/angular-animate.min.js"></script>
    <script src="../static/js/lib/particles.min.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script src="../static/js/config.js"></script>

    <!-- Controller -->
    <script src="../static/js/component/login/login.js"></script>
    <script src="../static/js/component/register/register.js"></script>
    <script src="../static/js/component/dashboard/dashboard.js"></script>
    <script src="../static/js/component/service/ServiceController.js"></script>
    <script src="../static/js/component/home/home.js"></script>
    <script src="../static/js/component/test/test.js"></script>
    <script src="../static/js/component/bmi/bmi.js"></script>
    <script src="../static/js/component/bp/bp.js"></script>
    <script src="../static/js/component/instructions/instructions.js"></script>
    <script src="../static/js/component/sugar/sugar.js"></script>
    <script src="../static/js/component/temperature/temperature.js"></script>
    <script src="../static/js/component/eye/eye.js"></script>
    <script src="../static/js/component/eye-exam/eye-exam.js"></script>
    <script src="../static/js/component/print/print.js"></script>
</body>
</html>