<section ng-controller="LandingPageController" id="landingpage-main-section">
    <div id="layer-color">
        <div id="particles-js"></div>
        <div id="content-wrapper">
            <div class="container">
                <div id="upper-content">
                    <div id="upper-content-wrapper">
                        <div class="div">
                            <h1>Employee Monitoring</h1>
                            <h4>with</h4>
                            <h2>Face Recognition</h2>
                        </div>
                    </div>
                </div>
                <div id="lower-content">
                    <div id="card-content-wrapper">
                        <center>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div>
                                        <a id="card-box" class="card" ng-click="loginMode()">
                                            <div id="image-box">
                                                <img src="../static/icons/icons8-login-100.png">
                                            </div>
                                            <div id="label-wrapper">
                                                <h6 id="label">Login</h6>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div>
                                        <a id="card-box" class="card" ng-click="logoutMode()">
                                            <div id="image-box">
                                                <img src="../static/icons/icons8-logout-rounded-left-100.png">
                                            </div>
                                            <div id="label-wrapper">
                                                <center>
                                                    <h6 id="label">Logout</h6>
                                                </center>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div>
                                        <a id="card-box" class="card" ng-click="logoutMode()">
                                            <div id="image-box">
                                                <img src="../static/icons/icons8-customer-100.png">
                                            </div>
                                            <div id="label-wrapper">
                                                <center>
                                                    <h6 id="label">Guest</h6>
                                                </center>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </center>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>