<section ng-controller="TestController">
    <div class="container">
        <center>        
            <div id="progress-bar-wrapper">
                <ul id="progress-bar-one">
                    <li class="active">Main</li>
                    <li class="active-two">Test BMI</li>
                    <li class="active-three">Test Blood Pressure</li>
                    <li class="active-four">Body Temperature</li>
                    <li class="active-five">Test Blood Sugar</li>
                    <li class="active-six">Eye Acuity Test</li>
                    <li> Print Results</li>
                </ul>
            </div>
        </center>
        
        <center>
            <div id="form-wrapper">
                <form action="">
                    <h3>Main Page</h3>
                    <div id="btn-wrapper">
                        <a class="btn btn-primary" id="next-btn" ng-click="nextButton()">Next</a>
                    </div>
                </form>
                
            </div>
            
        </center>
    </div>
</section>