<section ng-controller="InstructionsController">
<div class="container">
        <div id="instructions-wrapper">
            <h2><span>Getting Body Mass Index<img src="../static/icons/report.png" alt=""></span></h2>
            <div>
                <h3>Height</h3>
                <p>Stand on the weighing scale.</p>
            </div>
            
            <div>
                <h3>Weighting Scale</h3>
                <p>
                    Position scale on a firm flat surface.
                    Tap the platform centre (vibration activates your scale) and remove your foot.
                    Wait until zero is displayed.
                    Step on and stand very still while the scale computes your weight.
                    Your weight is displayed for a few seconds then the scale will switch off.
                </p>
            </div>
        </div>
        
        <div id="instructions-wrapper">
            <h2><span>Getting Blood pressure and Pulse per minute<img src="../static/icons/pressure.png" alt=""></span></h2>
            <p> 
            Below are the steps to take to use a digital monitor.
            Turn the power on to start the unit.
            On the automatic models, the cuff will inflate by itself with a push of a button. ...
            After the cuff inflates, the automatic device will slowly let air out.
            Look at the display screen to get your blood pressure reading.
            </p>
        </div>

        <div id="instructions-wrapper">
            <h2><span>Getting Blood Sugar<img src="../static/icons/magnifying-glass.png"></span></h2>
            <p> 
                Wash and dry your hands well. 
                Insert a test strip into your meter. 
                Prick the side of your fingertip with the needle (lancet) provided with your test kit.
                Gently squeeze or massage your finger until a drop of blood forms.
                Touch and hold the edge of the test strip to the drop of blood.
                The meter will display your blood glucose level on a screen after a few seconds.
            </p>
        </div>

        <div id="instructions-wrapper">
            <h2><span>Getting Body Temperature<img src="../static/icons/thermometer.png"></span></h2>
            <p>
                Hold the temperature sensor. Wait until the final result display.
            </p>
        </div>


</div>
</section>