<section ng-controller="DashboardController">
<div class="container">
        <center>
            <h1 class="title"><span><img id="back-icon" src="../static/icons/ambulance.png" alt="" ng-click="redirectToHome()"></span>Dashboard</h1>
            <button class="btn btn-success" ng-click="testPython()">Test Python</button>
                
            <div class="row">
                <div class="col-lg-4">
                    <div id="dashboard-card-bmi" class="card">
                        <h5>Body Mass Index</h5>
                        <hr>
                        <div class="card-body">
                            <h1 class="card-title">100.0</h1>
                            <p class="card-text">Normal</p>
                            <a href="" class="btn btn-primary">Test Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div id="dashboard-card-temperature" class="card">
                        <h5>Body Temperature</h5>
                        <hr>
                        <div class="card-body">
                            <h1 class="card-title">100.0 C</h1>
                            <p class="card-text">Normal</p>
                            <a href="" class="btn btn-primary" ng-click="">Test Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div id="dashboard-card-pulse" class="card">
                        <h5>Pulse Rate</h5>
                        <hr>
                        <div class="card-body">
                            <h1 class="card-title">100 bpm</h1>
                            <p class="card-text">Normal</p>
                            <a href="" class="btn btn-primary">Test Now</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-4">
                    <div id="dashboard-card-pressure" class="card">
                        <h5>Blood Pressure</h5>
                        <h6>(sys/dia)</h6>
                        <hr>
                        <div class="card-body">
                            <h1 class="card-title">100/90 mmHg</h1>
                            <p class="card-text">Normal</p>
                            <a href="" class="btn btn-primary">Test Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div id="dashboard-card-sugar" class="card">
                        <h5>Blood Sugar</h5>
                        <hr>
                        <div class="card-body">
                            <h1 class="card-title">100mg/dl</h1>
                            <p class="card-text">Normal</p>
                            <a href="" class="btn btn-primary">Test Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div id="dashboard-card-acuity" class="card">
                        <h5>Visual Acuity</h5>
                        <hr>
                        <div class="card-body">
                            <h1 class="card-title">20/20</h1>
                            <p class="card-text">Normal</p>
                            <a href="" class="btn btn-primary">Test Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </center>
</div>

</section>