<section ng-controller="TemperatureController">
        <div class="container">
            <center>        
                <div id="progress-bar-wrapper">
                    <ul id="progress-bar-four">
                        <li class="active">Main</li>
                        <li class="active-two">Test BMI</li>
                        <li class="active-three">Test Blood Pressure</li>
                        <li class="active-four">Body Temperature</li>
                        <li class="active-five">Test Blood Sugar</li>
                        <li class="active-six">Eye Acuity Test</li>
                        <li>Print Results</li>
                    </ul>
                </div>
            </center>
            
            <center>
                <div id="form-wrapper">
                    <h2>Body Temperature Measurement</h2>
                    <div class="col-lg-12">
                        <div id="info-wrapper">
                            <h4>Reasons for measuring body temperature</h4>
                            <h6>Measuring body temperature is very important in medicine. A number of diseases are characterised by a change in body temperature. With other illnesses, the course of the disease can be followed by measuring body temperature. This allows the doctor to analyse the effectiveness of treatments based on body temperatures.</h6>
                            <h6>A fever is the reaction to a disease-specific stimuli. The body changes its normal temperature to support the body’s own defence mechanisms. Fever is the most common form of disease-related (pathological) increase in body temperature.</h6>
                            <br>
                            <h4>Normal body temperature</h4>
                            <h6>Most people think a normal body temperature is an oral temperature (by mouth) of 98.6°F (37°C). This is an average of normal body temperatures. Your normal temperature may actually be 1°F (0.6°C) or more above or below this. Also, your normal temperature changes by as much as 1°F (0.6°C) during the day, depending on how active you are and the time of day. Body temperature is very sensitive to hormone levels. So a woman's temperature may be higher or lower when she is ovulating or having her menstrual period.</h6>
                            <h6>A rectal or ear temperature reading will be a little higher than an oral reading. A temperature taken in the armpit will be a little lower than an oral reading. The most accurate way to measure temperature is to take a rectal reading.</h6>
                            <br>
                            <h4>Fever</h4>
                            <h6>In most adults, a fever is an oral temperature above 100.4°F (38°C) or a rectal or ear temperature above 101°F (38.3°C). A child has a fever when his or her rectal temperature is 100.4°F (38°C) or higher.</h6>

                            <h5>A fever may occur as a reaction to:</h5>
                            <ul>
                                <li>Infection. This is the most common cause of a fever. Infections may affect the whole body or one body part.</li>
                                <li>Medicines. These include antibiotics, opioids, antihistamines, and many others. This is called a "drug fever." Medicines like antibiotics raise the body temperature directly. Other medicines keep the body from resetting its temperature when other things cause the temperature to rise.</li>
                                <li>Severe trauma or injury. This may include heart attack, stroke, heatstroke, or burns.</li>
                                <li>Other medical conditions. These include arthritis, hyperthyroidism, and even some cancers, such as leukemia and lung cancer.</li>
                            </ul>




                        </div>
                    </div>
                    
                    <div id="btn-wrapper">
                        <a class="btn btn-primary" id="back-btn" ng-click="backButton()">Back</a>
                        <a class="btn btn-primary" id="test-btn" ng-click="testButton()">Test</a>
                        <a class="btn btn-primary" id="next-btn" ng-click="nextButton()">Next</a>
                    </div>
                  
                    
                </div>
                
            </center>
        </div>
    </section>