<section ng-controller="LogoutController" id="logout-main-section">
    <div class="container">
        <div>
            <h1 class="title"><span><img id="back-icon" src="../static/img/icons8-go-back-28.png" alt="" ng-click="redirectToHome()"></span>
                Logout Data</h1>
            <br>
            <center>
                <button class="btn btn-primary" ng-click="logoutMode()">Recognize</button>
            </center>
        </div>
        <div id="info-wrapper">
            <center>
                <h1 id="name">UNKNOWN</h1>
                <br>
                <div id="basic-info">
                    <!-- <hr id="separator"> -->
                    <h4 id="employee_id">00000000</h4>
                    <hr id="separator">
                    <h4 id="position">POSITION</h4>
                    <hr id="separator">
                    <h4 id="department">DEPARTMENT</h4>
                    <hr id="separator">
                    <h4 id="status">STATUS</h4>
                </div>
                <br>
                <div>
                    <button class="btn btn-primary" id="emergencyBtn" ng-click="emergencyReason()">Emergency Out</button>
                </div>
                <!-- <h1>000</h1> -->
            </center>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Ooops </h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Example textarea</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</section>