<section ng-controller="PrintController">
        <div class="container">
            <center>        
                <div id="progress-bar-wrapper">
                    <ul id="progress-bar-seven">
                        <li class="active">Main</li>
                        <li class="active-two">Test BMI</li>
                        <li class="active-three">Test Blood Pressure</li>
                        <li class="active-four">Body Temperature</li>
                        <li class="active-five">Test Blood Sugar</li>
                        <li class="active-six">Eye Acuity Test</li>
                        <li class="active-seven">Print Results</li>
                    </ul>
                </div>
            </center>
            
            <center>
                <div id="form-wrapper">
                    <form action="">
                        <h3>Print Page</h3>
                        <div id="btn-wrapper">
                            <a class="btn btn-primary" id="back-btn" ng-click="backButton()">Back</a>
                            <a class="btn btn-primary" id="next-btn" ng-click="printButton()">Print</a>
                        </div>
                    </form>
                    
                </div>
                
            </center>
        </div>
    </section>