<section ng-controller="SugarController">
        <div class="container">
            <center>        
                <div id="progress-bar-wrapper">
                    <ul id="progress-bar-five">
                        <li class="active">Main</li>
                        <li class="active-two">Test BMI</li>
                        <li class="active-three">Test Blood Pressure</li>
                        <li class="active-four">Body Temperature</li>
                        <li class="active-five">Test Blood Sugar</li>
                        <li class="active-six">Eye Acuity Test</li>
                        <li>Print Results</li>
                    </ul>
                </div>
            </center>
            
            <center>
                <div id="form-wrapper">
                    <h2>Blood Sugar Test</h2>
                    <div class="col-lg-12">
                        <div id="info-wrapper">
                            <h4>What is a blood sugar test?</h4>
                            <h6>A blood sugar test is a procedure that measures the amount of sugar, or glucose, in your blood. Your doctor may order this test to help diagnose diabetes. People with diabetes can also use this test to manage their condition.</h6>
                            <h6>Blood sugar tests provide instant results and let you know the following:</h6>
                            <ul>
                                <li>your diet or exercise routine needs to change</li>
                                <li>how your diabetes medications or treatment is working</li>
                                <li>if your blood sugar levels are high or low</li>
                                <li>your overall treatment goals for diabetes are manageable</li>
                            </ul>
                            <h6>Your doctor may also order a blood sugar test as part of a routine checkup. They may also be looking to see if you have diabetes or prediabetes, a condition where your blood sugar levels are higher than normal.</h6>
                            <h6>Your risk for diabetes increases if any of the following factors are true:</h6>
                            <ul>
                                <li>you are 45 years old or older</li>
                                <li>you are overweight</li>
                                <li>you don’t exercise much</li>
                                <li>you have high blood pressure, high triglycerides, or low good cholesterol levels (HDL)</li>
                                <li>you have a history of gestational diabetes or giving birth to a baby who weighed over 9 pounds</li>
                                <li>you have a history if insulin resistance</li>
                                <li>you have a history of strokes or hypertension</li>
                                <li>you are Asian, African, Hispanic, Pacific Islander, or Native American</li>
                                <li>you have a family history of diabetes</li>
                            </ul>
                            <h4>When to test blood sugar</h4>
                            <h6>When and how often you should test your blood sugar depends on the type of diabetes you have and your treatment.</h6>
                            
                            <h5>Type 1 diabetes</h5>
                            <h6>According to the American Diabetes Association (ADA), if you’re managing type 1 diabetes with multiple dose insulin or an insulin pump, you’ll want to monitor your blood sugar before:</h6>
                            <ul>
                                <li>eating a meal or snack</li>
                                <li>exercising</li>
                                <li>sleeping</li>
                                <li>critical tasks like driving or babysitting</li>
                            </ul>
                            
                            <h5>High blood sugar</h5>
                            
                            <h6>You’ll want to check your blood sugar levels if you have diabetes and feel increasing thirst and the urge to urinate. These could be symptoms of high blood sugar and you may need to modify your treatment plan.</h6>
                            <h6>If your diabetes is well-controlled but you still have symptoms, it may mean you’re getting sick or that you’re under stress.</h6>
                            <h6>Exercising and managing your carbohydrate intake may help with lowering your blood sugar levels. If these changes don’t work, you may need to meet with your doctor to decide how to get your blood sugar levels back into target range.</h6>
                            
                            <h5>Low blood sugar</h5>
                            <h6>Check your blood sugar levels if you feel any of the following symptoms:</h6>
                            <ul>
                                <li>shaky</li>
                                <li>sweaty or chilly</li>
                                <li>irritated or impatient</li>
                                <li>confused</li>
                                <li>lightheaded or dizzy</li>
                                <li>hungry and nauseous</li>
                                <li>sleepy</li>
                                <li>tingly or numb in the lips or tongue</li>
                                <li>weak</li>
                                <li>angry, stubborn, or sad</li>
                            </ul>
                       
                            <h6>Some symptoms like delirium, seizures, or unconsciousness can be symptoms of low blood sugar or insulin shock. If you’re on daily insulin injections, ask your doctor about glucagon, a prescription medicine that can help if you’re having a severe low blood sugar reaction.</h6>
                            
                            <h6>You can also have low blood sugar and show no symptoms. This is called hypoglycemia unawareness. If you have a history of hypoglycemia unawareness, you may need to test your blood sugar more often.</h6>
                            
                            <h5>Pregnant women</h5>
                            <h6>Some women develop gestational diabetes during pregnancy. This is when hormones interfere with the way your body uses insulin. It causes sugar to accumulate in the blood.</h6>
                            <h6>Your doctor will recommend testing your blood sugar regularly if you have gestational diabetes. Testing will make sure that your blood glucose level is within a healthy range. Gestational diabetes usually goes away after childbirth.</h6>

                        </div>
                    </div>
                    
                    <div id="btn-wrapper">
                        <a class="btn btn-primary" id="back-btn" ng-click="backButton()">Back</a>
                        <a class="btn btn-primary" id="test-btn" ng-click="testButton()">Test</a>
                        <a class="btn btn-primary" id="next-btn" ng-click="nextButton()">Next</a>
                    </div>
                   
                    
                </div>
                
            </center>
        </div>
    </section>